.thank-you-page {
  .notice-thank-you {
    display: block;
    border: 2px solid #293d4f;;
    padding: 3px;
    border-radius: 5px;
    font-size: small;
    font-weight: bold;
    color: #233a4f;
    max-width: 300px;
    margin: auto;
    a {
      color: #233a4f;
    }
  }

}
