.App {
  text-align: center;

  .header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #293d4f;
    color: whitesmoke;
    padding: 20px;
    font-size: large;
    z-index: 99;

    &:hover {
      color: white;
    }

    a {
      color: whitesmoke;
      text-decoration: none;
      font-size: large;
      font-weight: bold;
      margin-left: -40px;
    }

    .language-select {
      background-color: #293d4f;
      color: whitesmoke;
      font-size: large;
      font-weight: bold;
      padding: 5px 10px;
      position: absolute;
      right: 50px;
      top: 16px;
    }
  }

  .bottom-div {
    margin-top: 50px;
    padding-top: 20px;
  }


  .feedback-btn {
    background-color: #293d4f;
    color: whitesmoke;
    font-size: 1.3rem;
    border-radius: 5px;
    border: none;
    padding: 7px 4vw;
    cursor: pointer;
    margin: 10px;
    box-shadow: 3px 3px 3px 1.5px rgba(0, 0, 0, 0.3);

    &:hover{
      transform: translateY(1px);
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      transition-delay: 250ms;
    }
  }
}
